---
import { siteConfig } from '../lib/site';
---

<footer class="site-footer">
  <div class="site-footer__inner">
    <div>
      <p class="site-footer__title">{siteConfig.title}</p>
      <p class="site-footer__copy">{siteConfig.description}</p>
    </div>

    <div class="site-footer__meta">
      <a href="/rss.xml">RSS</a>
      <span aria-hidden="true">/</span>
      <a href="/about/">About</a>
    </div>
  </div>
</footer>
